<!--<mat-card class="mcard">
    <mat-card-header>
        <img mat-card-avatar src="assets/dhokla.jpg" alt="">
    <mat-card-title>E-Commerce</mat-card-title>
    <mat-card-subtitle>Magento 2</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="assets/dhokla.jpg" alt="">
<mat-card-content>
<p>saggggggggggggggggggggggggggggggggg</p>
</mat-card-content>
<mat-card-action>
    <button mat-icon-button color="accent"><mat-icon>favorite</mat-icon></button>
    <button mat-icon-button color="primary"><mat-icon>share</mat-icon></button>
</mat-card-action>
</mat-card>-->

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="card" style="width:1000px">
            <img class="card-img-top" src="assets/card66.jpg" style="padding:40px;" height="500px" alt="Card image cap">
            <div class="card-body">
              <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
              <center><h3 class="card-title">Hotel Windsor</h3></center>
              <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
            </div>
            <div class="card-body">
              <center>
              <a href="https://www.hotelwindsorpatna.com/" class="card-link">Visit our website</a>
              <a href="#" class="card-link">Explore our facilities</a></center>
            </div>
          </div>
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="card" style="width:1000px">
            <img class="card-img-top" src="assets/card3.jpg" style="padding:40px;" height="500px" width="1000px" alt="Card image cap">
            <div class="card-body">
              <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
              <center><h3 class="card-title">Hotel Windsor</h3></center>
              <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
            </div>
            <div class="card-body">
              <center><a href="https://www.hotelwindsorpatna.com/" class="card-link">Visit our website</a>
              <a href="https://www.hotelwindsorpatna.com/" class="card-link">Explore our facilities</a></center>
            </div>
          </div>
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="card" style="width:1000px">
            <img class="card-img-top" src="assets/card0.jpg" style="padding:40px;" height="500px" width="1000px" alt="Card image cap">
            <div class="card-body">
              <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
              <center><h3 class="card-title">Hotel Windsor</h3></center>
              <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
            </div>
            <div class="card-body">
              <center><a href="https://www.hotelwindsorpatna.com/" class="card-link">Visit our website</a>
              <a href="https://www.hotelwindsorpatna.com/" class="card-link">Explore our facilities</a></center>
            </div>
          </div>
      </div>
      
    </ng-template>
  </ngb-carousel>
  <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
  
  

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width:rem-18;">
          <img class="card-img-top" src="assets/Mumbai.jpg" height="100px" alt="Card image cap">
          <div class="card-body">
            
            <h4 class="card-title"><center>Mumbai</center></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <center><a href="https://www.tajhotels.com/en-in/taj/taj-mahal-palace-mumbai/" class="btn btn-primary">Explore</a></center>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width:rem-18;">
      <img class="card-img-top" src="assets/bangalore.jpg" height="100px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><center>Bangalore</center></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <center><a href="https://www.tajhotels.com/en-in/destination/hotels-in-bangalore/" class="btn btn-primary">Explore</a></center>
      </div>
    </div>

      </div>

      <div class="col-sm-3">
        <div class="card" style="width:rem-18;">
      <img class="card-img-top" src="assets/goa.jpg" height="100px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><center>Goa</center></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <center> <a href="https://www.tajhotels.com/en-in/destination/hotels-in-goa/" class="btn btn-primary">Explore</a></center>
              </div>
         </div>

    </div>

          <div class="col-sm-3">
            <div class="card" style="width:rem-18;">
              <img class="card-img-top" src="assets/delhi.jpg" height="100px" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><center>New Delhi</center></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <center><a href="https://www.tajhotels.com/en-in/taj/taj-palace-new-delhi/" class="btn btn-primary">Explore</a></center>
              </div>
            </div>
        
              </div>
    </div>
</div>

<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<div class="container">
    <div class="row">
      
      <div class="col-sm-4" style="background-color:lightgrey;">
        <h4><b>About Windsor</b></h4><hr>
        <h4><p>Hotel Windsor is a budget hotel located in the heart various locations.Hotel is equipped with all modern facilities which makes it a best budget hotel.Hotel is truly a hotel which makes it a best budget hotel.</p></h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Our Services</b></h4><hr>
            <h4>Punjabi Food<br>
            South Indian Food<br>
            Maharashtrian Food<br>
            Italian Food<br>
            Chinese Food</h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Contact Us</b></h4><hr>
        <h3>+91 3582583940<br>
        +91 7848583655<br>
        windsor@gmail.com</h3>
        <img src="assets/facebook.jpg" alt="" width="40" height="40" class="image-responsive"><h6><a href="https://www.facebook.com/">Facebook</a></h6>
        </div> 
    </div>
</div>