
<mat-grid-list cols="4" rowHeight="50px" guttersize="10px">
    <mat-grid-tile><mat-icon>location_city</mat-icon>Mumbai</mat-grid-tile>
    <mat-grid-tile><mat-icon>room</mat-icon>Pune</mat-grid-tile>
    <mat-grid-tile><mat-icon>location_city</mat-icon>Bangalore</mat-grid-tile>
    <mat-grid-tile><mat-icon>room</mat-icon>Delhi</mat-grid-tile>
  </mat-grid-list>


  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="card">
          <img class="card-img-top" src="assets/windsor.jpg" padding="70px" height="200" width="1000px" alt="Card image cap">
          <div class="card-body">
            <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="card">
          <img class="card-img-top" src="assets/card66.jpg" padding="70px"  height="200px" width="1000px" alt="Card image cap">
          <div class="card-body">
            <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="card">
          <img class="card-img-top" src="assets/windsore3.jpg"  padding="70px"  height="200px" width="1000px" alt="Card image cap">
          <div class="card-body">
            <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
          </div>
        </div>
      </div>
    </ng-template>
  
  </ngb-carousel>
  <div class="conatiner">
    <div class="row">
      <div class="col-sm">
        <center><img src="assets/grid3.png" height="100px" width="50px"></center>
        <div class="container">
        <center><h3>Exclusive Offers</h3></center>
        </div>
      </div>
      <div class="col-sm">
        <center><img src="assets/grid5.png" height="90px" width="50px"></center>
        <center><h3>WiFi Access</h3></center>
      </div>
      
      <div class="col-sm">
        <center><img src="assets/grid2.png" height="100px" width="50px"></center>
        <center><h3>Pay at Hotel</h3></center>
      </div>
      <div class="col-sm">
        <center><img src="assets/grid4.png" height="90px" width="50px"></center>
        <div>
        <center><h3>Exclusive Offers</h3></center>
        </div>
      </div>

    </div>
  </div>

  <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
   <center><h3>Our Brands</h3></center>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width:rem-18;">
          <img class="card-img-top" src="assets/brand1.jpeg" height="200px" alt="Card image cap">
          <div class="card-body">
            
            <h4 class="card-title"><center>Mumbai</center></h4>
            <center><img src="assets/brand3.png" height="50px" width="300px" alt="Card image cap"></center>
            
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width:rem-18;">
      <img class="card-img-top" src="assets/brand2.jpeg" height="200px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><center>Bangalore</center></h4>
        <center><img src="assets/brand4.png" height="50px" width="300px" alt="Card image cap"></center>
      
      </div>
    </div>

      

          
    </div>
</div>

<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<div class="container">
    <div class="row">
      
      <div class="col-sm-4" style="background-color:lightgrey;">
        <h4><b>About Windsor</b></h4><hr>
        <h4><p>Hotel Windsor is a budget hotel located in the heart various locations.Hotel is equipped with all modern facilities which makes it a best budget hotel.Hotel is truly a hotel which makes it a best budget hotel.</p></h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Our Services</b></h4><hr>
            <h4>Punjabi Food<br>
            South Indian Food<br>
            Maharashtrian Food<br>
            Italian Food<br>
            Chinese Food</h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Contact Us</b></h4><hr>
        <h3>+91 3582583940<br>
        +91 7848583655<br>
        windsor@gmail.com</h3>
        <img src="assets/facebook.jpg" alt="" width="40" height="40" class="image-responsive"><h6><a href="https://www.facebook.com/">Facebook</a></h6>
        </div> 
    </div>
</div>

