<img src="assets/gateway.jpeg" height="350px" width="1000px" caption="Festive">
<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
         <center><h3><b>Urban Gateways</b></h3></center>
         <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
        </div>
        <div class="col-sm">
            <center><img src="assets/clock.png" height="50px" ></center>
            <b>Valid Till 31 March2021</b> 
        </div>
    </div>
</div>
<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>

<center><h3><b>Find a perfect getaway to spend time with your loved ones. Check-in to one of your favourite hotels not too far away from home, for a staycation that feels like mini-vacation. </b></h3></center>


<center><h3>Enter Your Details</h3></center>

<hr>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Select Hotel</h3>
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">Windsor Goa</mat-option>
                  <mat-option value="two">Windsor Delhi</mat-option>
                  <mat-option value="one">Windsor Bengaluru</mat-option>
                  <mat-option value="two">Windsor Mumbai</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <h3>Select Check in Date</h3>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <h3>Select Check out Date</h3>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <h3>No. of persons</h3>
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">1</mat-option>
                  <mat-option value="two">2</mat-option>
                  <mat-option value="three">3</mat-option>
                  <mat-option value="four">4</mat-option>
                  <mat-option value="five">5</mat-option>
                  <mat-option value="six">More than five</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-flat-button color="primary">Submit Details</button>
                
        </div>

    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="assets/hotelbell.png" height="50px" ><br>
            <b>Conveniences</b> <h3>Wifi for 4 devices.</h3>
        </div>
        <div class="col-sm">
            <img src="assets/Dining.png" height="50px"><br>
            <b>Dining</b>
            <h3>Daily Breakfast. One major meal, can be a set meal. On festive day, it can be a celebratory meal.</h3>
        </div>
        <div class="col-sm">
            <img src="assets/clock.png" height="50px"><br>
            <b>Validity</b>
            <h3>Applicable for the dates specified against each festival celebration.</h3>
        </div>
        <div class="col-sm">
            <img src="assets/spa.png" height="50px"><br>
            <b>Spa</b>
            <h3>20% off on salon and spa.</h3>
        </div>
    </div>
</div>

<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<div class="container">
    <div class="row">
      
      <div class="col-sm-4" style="background-color:lightgrey;">
        <h4><b>About Windsor</b></h4><hr>
        <h4><p>Hotel Windsor is a budget hotel located in the heart various locations.Hotel is equipped with all modern facilities which makes it a best budget hotel.Hotel is truly a hotel which makes it a best budget hotel.</p></h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Our Services</b></h4><hr>
            <h4>Punjabi Food<br>
            South Indian Food<br>
            Maharashtrian Food<br>
            Italian Food<br>
            Chinese Food</h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Contact Us</b></h4><hr>
        <h3>+91 3582583940<br>
        +91 7848583655<br>
        windsor@gmail.com</h3>
        <img src="assets/facebook.jpg" alt="" width="40" height="40" class="image-responsive"><h6><a href="https://www.facebook.com/">Facebook</a></h6>
        </div> 
    </div>
</div>

