<button mat-button [matMenuTriggerFor]="menu">MyAccount</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="secondlevel" xPosition="below"> 
        <mat-icon>account_box</mat-icon>
        Profile
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        Services
    </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Log out
    </button>
</mat-menu>
<mat-menu #secondlevel="matMenu">
    <button mat-menu-item>Admin account</button>
    <button mat-menu-item>Guest Account</button>
    <button mat-menu-item>Default Account</button>
</mat-menu>