<center><h2>Welcome to Windsor</h2></center>
<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<center><h2>Our Rooms</h2></center>

<!--<mat-grid-list cols="4" rowHeight="600px" guttersize="10px">
    <mat-grid-tile>
      <div class="card" style="width:rem-18;">
        <img class="card-img-top" src="assets/miniclub.jpg" height="100px" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><center>Mini Club</center></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <center><a href="https://www.tajhotels.com/en-in/taj/taj-mahal-palace-mumbai/" class="btn btn-primary">Explore</a></center>
        </div>
      </div>
      
    </mat-grid-tile>

    <mat-grid-tile><div class="card" style="width:rem-18;">
      <img class="card-img-top" src="assets/clubroom.jpg" height="100px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><center>Club Room</center></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <center><a href="https://www.tajhotels.com/en-in/destination/hotels-in-bangalore/" class="btn btn-primary">Explore</a></center>
      </div>
    </div>
    </mat-grid-tile>

    <mat-grid-tile><div class="card" style="width:rem-18;">
      <img class="card-img-top" src="assets/deluxeroom.jpg" height="100px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><center>Delux Room</center></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <center> <a href="https://www.tajhotels.com/en-in/destination/hotels-in-goa/" class="btn btn-primary">Explore</a></center>
      </div>
    </div>
    </mat-grid-tile>

    <mat-grid-tile><div class="card" style="width:rem-18;">
      <img class="card-img-top" src="assets/royalclub.jpg" height="100px" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><center>Royal Club</center></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <center><a href="https://www.tajhotels.com/en-in/taj/taj-palace-new-delhi/" class="btn btn-primary">Explore</a></center>
      </div>
    </div>
    </mat-grid-tile>

  </mat-grid-list>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width:rem-18;">
            <img class="card-img-top" src="assets/miniclub.jpg" height="100px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><center>Mini Club</center></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <center><a href="https://www.tajhotels.com/en-in/taj/taj-mahal-palace-mumbai/" class="btn btn-primary">Explore</a></center>
            </div>
          </div>

      </div>
      <div class="col-sm-3">
        <div class="card" style="width:rem-18;">
            <img class="card-img-top" src="assets/deluxeroom.jpg" height="100px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><center>Delux Room</center></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <center> <a href="https://www.tajhotels.com/en-in/destination/hotels-in-goa/" class="btn btn-primary">Explore</a></center>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width:rem-18;">
            <img class="card-img-top" src="assets/royalclub.jpg" height="100px" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><center>Royal Club</center></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <center><a href="https://www.tajhotels.com/en-in/taj/taj-palace-new-delhi/" class="btn btn-primary">Explore</a></center>
            </div>
          </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="width:rem-18;">
                <img class="card-img-top" src="assets/royalclub.jpg" height="100px" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><center>Royal Club</center></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <center><a href="https://www.tajhotels.com/en-in/taj/taj-palace-new-delhi/" class="btn btn-primary">Explore</a></center>
                </div>
              </div>
              </div>
    </div>
</div>



  <center><img src="assets/roomdesign.png" height="20px" width="100px"></center>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4><b>Main Amenities</b><br>
        79 Guestrooms<br>
        Restaurants and Open Cork<br>
        Banquet<br>
        Business Center</h4>

      </div>
      <div class="col-sm-4">
        <h4><b>Other Amenities</b><br>
        Childcare<br>
        24-hour front Desk<br>
        Coffee/tea in a Common Area<br>
        Free WiFi and free Parking<br>
        </h4>
      </div>
      <div class="col-sm-4">
          <h4><b>Whats Around</b><br>
              Garden<br>
              Swimming Pool<br>
              Museum</h4>
          
      </div>
    </div>
</div>

<center><img src="assets/roomdesign.png" height="20px" width="100px"></center>
<div class="container">
    <div class="row">
      
      <div class="col-sm-4" style="background-color:lightgrey;">
        <h4><b>About Windsor</b></h4><hr>
        <h4><p>Hotel Windsor is a budget hotel located in the heart various locations.Hotel is equipped with all modern facilities which makes it a best budget hotel.Hotel is truly a hotel which makes it a best budget hotel.</p></h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Our Services</b></h4><hr>
            <h4>Punjabi Food<br>
            South Indian Food<br>
            Maharashtrian Food<br>
            Italian Food<br>
            Chinese Food</h4>
          </div>

          <div class="col-sm-4" style="background-color:lightgrey;">
            <h4><b>Contact Us</b></h4><hr>
        <h3>+91 3582583940<br>
        +91 7848583655<br>
        windsor@gmail.com</h3>
        <img src="assets/facebook.jpg" alt="" width="40" height="40" class="image-responsive"><h6><a href="https://www.facebook.com/">Facebook</a></h6>
        </div> 
    </div>
</div>



